@media(max-width: 1500px) and (min-width: 1000px)
{
    #full{
	width: 100%;
	height: auto;
}

#header{
	width: 100%;
	height: 100px;
	background: rgba(155,155,155,0.8);
	position: fixed;
}
#logo{
	width: 30%;
	height: 100px;
	float: left;
}
#nav{
	width: 70%;
	height: 100px;
	float: left;
}
ul li{
	list-style: none;
	float: left;
	width: 14%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
a{
	text-decoration: none;
	color: white;
}
h1{
	padding: 10px;
}
#banner{
	width: 100%;
	height: 400px;
}
#f1{
	width: 100%;
	height: 150px;
	background:silver;
}

#welcome{
	width: 100%;
	height: auto;
}
#g1{
	width: 100%;
	height: 500px;
}
#one{
	width: 33%;
	height: auto;
	float: left;
}
#two{
	width: 33%;
	height: auto;
	float: left;
}
#three{
	width: 33%;
	height: auto;
	float: left;
}
}

/*
@media(max-width: 1000px) and (min-width: 700px)
{

}

@media(max-width: 700px) and (min-width: 500px)
{

}

@media(max-width: 500px) and (min-width:50px)
{

}


/* r1.php css

#bg
{
	background-size:100%;
	background-repeat: no-repeat;
}
#form
{
	width: 600px;
	padding-top: 150px;
	height: auto;
}
td
{
	width: 300px;
	height: 50px;
}*/